/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
                        Tyrone's custom styles
   ========================================================================== */

/*********************
       FONTFACE
*********************/
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon{
    font-family: 'FontAwesome';
    color: #000;
    font-size: 50px;
}
/*********************
        RESETS
*********************/
body{
    color: #707173;
}
p{
    font-size: 12px;
}
strong{
    color: #00a2a4;
}
.wrapper{
    width: 800px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6{
    color: #00a2a4;
    font-weight: 100;
}
h1{
    background: #00a2a4;
    font-size: 22px;
    color: #fff;
    padding: 5px 10px;
}
h2{
    color: #00a2a4;
    font-size: 18px;
    padding: 5px 10px;
    border-bottom: 1px dashed #00a2a4;
}
h3{
    color: #00a2a4;
    font-size: 14px;
    padding: 5px 10px;
    border-bottom: 1px dashed #00a2a4;
}

/*********************
      CLEARFIXIN'
*********************/
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.response-img{
    max-width: 100%;
    min-width: 100%;
}


/*********************
      HEADER AREA
*********************/
header{
    position: relative;
}
.download_desktop{
    position: absolute;
    bottom: -50px;
    right: -20px;
}

/*********************
      FORM AREA
*********************/
.micro-infos{width: 54%; float: left;}
.micro-form{ width: 40%; float: right; }

.fg-form-titles, .fg-form-inputs{
    border: 5px solid #fff;
    padding-left: 20px;
}

.fg-form-titles{
    vertical-align: top;
    color: #00a2a4;
    background: #eee;
}
.fg-form-titles p{
    width: 100px;
}
input{
  width: 95%
}
select{
    width: 100%;
}
input{
    padding: 2%;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
input[type=submit]{
    background: #e67e22;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 100;
    padding: 10px 2%;
    width: 101%;
}
input[type=checkbox]{
    width: 25px;
}
.radio-txt{
    font-size: 12px;
}
textArea{
    height: 150px;
    width: 100%;
}



/*********************
      FOOTER AREA
*********************/
footer{
    background: #565757;
    margin: 50px 0 0 0;
    padding: 50px 0;
}

.contact-deets{
    width: 30%;
    color: #fff;
}
.contact-deets a{
    color: #00a2a4;
    text-decoration: none;
}
.contact-deets a:hover{
    color: #e67e22;
}
.divider{
    width: 5%
}
.social{
    margin: 0 10px 0 0;
}
.social-holder a{
    color: #999;
    text-decoration: none;
}
.social-holder a:hover{
    color: #fff;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 800px) {
    /*---- WRAPPER --*/
    .wrapper{
        width: 90%;
    }
    /*********************
        FORM AREA
  *********************/
  .micro-infos{width: 100%; float: none;}
  .micro-form{ width: 100%; float: none;}
  
  .fg-form-titles p{
    width: 100px;
  }
  /*********************
        FOOTER AREA
  *********************/
  .contact-deets{
    width: 100%;
    color: #fff;
    }
    .divider{width: 0;}
  
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
